build/
.venv/
sam2/
gesture_recognizer.task
checkpoints/
.vscode/
draco/

__pycache__/

*.lib
*.exp
*.dll
*.pyd
/addons/gesture_recognition/src/gesture_recognition.egg-info
/addons/gesture_recognition/src/gesture_recognition.egg-info
producer/src/mobileclip_blt.ts
producer/src/yoloe-11l-seg.pt
