build/
.venv/
sam2/
gesture_recognizer.task
checkpoints/
.vscode/

__pycache__/

*.lib
*.exp
*.dll
*.pyd
/addons/gesture_recognition/src/gesture_recognition.egg-info
/addons/gesture_recognition/src/gesture_recognition.egg-info
producer/src/hand_landmarker.task
